html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  font-family: 'Bangers', cursive;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eee;
  letter-spacing: 2px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter__title {
  font-size: 6rem;
  margin-bottom: 2rem;
}

.counter__name {
  font-weight: 300;
}

.counter__number {
  font-size: 20rem;
  margin-bottom: 2rem;
}

.btn {
  font-size: 2rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}

.btn:active {
  transform: translateY(3px);
}

.btn:hover {
  background-color: black;
  color: #fff;
  outline: none;
}
.counter__button:not(:last-child) {
  margin-right: 2rem;
}

.modal__container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 8rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

.modal__title {
  margin-bottom: 2rem;
}

.modal__text {
  margin-bottom: 5rem;
}

.open {
  display: inline-block;
}

.weather__container {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 80%;
}

.weather {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather:not(:last-child) {
  margin-right: 3rem;
}

@media (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }

  .modal {
    padding: 3rem 6rem;
    text-align: center;
  }
}
